<!DOCTYPE html>
<html>
  <head>
    <title>Which.hours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--meta content="width=device-width, initial-scale=1" name="viewport" /-->
    
  </head>

  <body>
    <%= render 'shared/flashes' %>
    
    <div class="grid-wrapper">
        <%= render  "shared/navbar" %>
      <div class="content">
      
        <%= yield %>
      
      </div>
      <div class="footer">
      
      </div>
    </div>
  </body>
</html>
